name: Delete Docker Image CI2

on:
  push:
    branches: [ "dev" ]

jobs:
   build:
    name: Delete Docker Image
    runs-on: ubuntu-latest
    steps:
     - id: "gcloud_auth"
       name: "Authenticate to Google Cloud"
       uses: google-github-actions/auth@v0.4.4
       with:
          credentials_json: ${{ secrets.GCP_SA_KEY_DEV }}

     - name: Set up Cloud SDK
       uses: google-github-actions/setup-gcloud@v0.2.1
        
     - name: 'Cleanup untagged images in nonprod'
       run: gcloud container images list-tags eu.gcr.io/hms-dev-381208/demo --filter='-tags:*' --format="get(digest)" --limit=10 > tags && while read p; do gcloud container images delete "eu.gcr.io/hms-dev-381208/demo@$p" --quiet; done < tags
 
